@font-face {
    font-family: 'Orelo-SemiWide-Medium';
    src: url(../fonts/Orelo-SemiWide-Medium.woff);
}
@font-face {
    font-family: 'Orelo-SemiWide-Medium-Italic';
    src: url(../fonts/Orelo-SemiWide-Medium-Italic.woff);
}